<!DOCTYPE html>
<html>
  <head>
    <title>Places Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>

    <div>

      <a href="/">Home</a>
        |
      <!-- find user -->
      <% @user = User.find_by({ "id" => session["user_id"] }) %>
      
      <% if @user == nil %>
        <!-- if no user logged-in, display signup and login links -->
        <a href="/users/new">Sign Up</a>
        |
        <a href="/login">Login</a>
      <% else %>
        <!-- else, if user logged-in, display username and logout link -->
        Welcome, <%= @user["username"] %>
        |
        user_id is <%= session["user_id"]%>
        |
        <a href="/logout">Logout</a>
      <% end %>

    </div>

    <div>
      <%= flash["notice"] %>
    </div>

    <%= yield %>
  </body>
</html>
